<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"
        tools:ignore="SelectedPhotoAccess" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMMS"
        tools:targetApi="34">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
            <meta-data
                android:name="osmdroid.basePath"
                android:value="osmdroid" />
            <meta-data
                android:name="osmdroid.tileCache"
                android:value="osmdroid" />
        </activity>
        <activity android:name=".activities.SignInActivity" />
        <activity android:name=".activities.SignUpActivity" />
        <activity android:name=".activities.HomeActivity" />
        <activity android:name=".activities.SignInVerificationActivity" />
        <activity android:name=".activities.SignUpProfileActivity" />
        <activity android:name=".activities.SignUpVerificationActivity" />
        <activity android:name=".activities.ForgotPasswordActivity" />
        <activity android:name=".fragments.Clubinfo"/>
        <activity android:name=".fragments.CreateClub"/>
    </application>

</manifest>